{% extends "page.html.twig" %}

{% block header %}
  <header>
    <div class="bg-primary">
      <!-- Main navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark site-max nav-vanilla">

          <!-- Navbar content -->
          <a class="navbar-brand" href="#/" title="Go to the London Borough of Croydon homepage">
            <img class="img-responsive w-75" src="{{ logopath }}" alt="London Borough of Croydon homepage" />
          </a>

          <!-- Mobile toggle button -->
          <button id="js-nav-toggle" class="btn" type="button" aria-label="Toggle navigation">
            <span class="oi oi-x d-none"></span>
            <span class="oi oi-menu"></span>
          </button>

          <div class="collapse navbar-collapse" id="menu-purejs">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"> <a class="nav-link" href="#">A - Z</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">In your area</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">News</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Jobs</a> </li>
            </ul>
          </div>

      </nav>
      <!-- End main navigation -->
    </div>
  </header>
{% endblock %}


{% block content %}

  <div class="container homepage--search">
<div class="row">
  <div class="col-md-4">
      <h2>What are you looking for?</h2>
  </div>
  <div class="col-md-8">
      <form action="/search/google" method="get">
          <div id="home-site-search" class="input-group">
            <input type="text" name="keys" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search <span class="fa fa-search"></span></button>
              </span>
          </div>
      </form>
    </div>
    </div>
  </div>

  <main role="main" class="container">
      {{ page.breadcrumb }}
      {{ page.messages }}
      {{ page.content }}
      {{ page.content_bottom }}
  </main>
  
{% endblock %}
