{#
This file provides the HTML structure for local offer pages.
#}

<article{{ content_attributes.addClass('directory-listing-content') }}>
  <h2>{{ label }}</h2>

  {% if enable_edit %}
    <p><a href="{{ edit_link }}">Edit this page.</a></p>
  {% endif %}

  {{ content.body }}

  <h3>Contact information</h3>
  <ul class="contact-list">
    {% if content.field_addressfield|render %}
      <li><span class="fas fa-map-marker-alt"></span>{{ content.field_addressfield|render }}</li>
    {% endif %}

    {% if content.field_phone|render %}
      <li><span class="fas fa-phone"></span>{{ content.field_phone|render }}</li>
    {% endif %}

    {% if content.field_email_address|render %}
      <li><span class="far fa-envelope"></span><a class="external-link" href="mailto:{{ content.field_email_address|render }}">{{ content.field_email_address|render }}</a></li>
    {% endif %}

    {% if content.field_website_plain|render %}
      <li><span class="fas fa-external-link-alt"></span><a class="external-link" href="{{ content.field_website_plain|render }}">Visit website</a></li>
    {% endif %}

    {% if content.field_facebook|render %}
      <li class="directory-contact"><span class="fab fa-facebook"></span><a class="external-link" href="{{ content.field_facebook|render }}">Facebook</a></li>
    {% endif %}

    {% if content.field_twitter|render %}
      <li class="directory-contact"><span class="fab fa-twitter"></span><a class="external-link" href="{{ content.field_twitter|render }}">Twitter</a></li>
    {% endif %}

    {% if content.field_inspection_reports|render %}
      <li class="directory-contact"><span class="fas fa-external-link-alt"></span><a class="external-link" href="{{ content.field_inspection_reports|render }}">Inspection report</a></li>
    {% endif %}
  </ul>

  {{ content.field_geofield }}

  {% if content.field_date_and_time_text|render %}
    <hr>
    <h3>Date and time</h3>
    {{ content.field_date_and_time_text|render }}
  {% endif %}

  {% if content.field_opening_times|render %}
    <hr>
    <h3>Opening times</h3>
    {{ content.field_opening_times|render }}
  {% endif %}

  {% if content.field_costs_text|render %}
    <hr>
    <h3>Costs</h3>
    {{ content.field_costs_text|render }}
  {% endif %}

  {% if content.field_accessibility_text|render %}
    <hr>
    <h3>Accessibility</h3>
    {{ content.field_accessibility_text|render }}
    {{ content.field_accessibility|render }}
  {% endif %}

  {% if content.field_other_text|render %}
    <hr>
    <h3>Other information</h3>
    {{ content.field_other_text|render }}
  {% endif %}

  <hr>
  <h3>Disclaimer</h3>
  <p>All of the factual data in our directory is provided by internal services and external organisations that we work with. We cannot accept any responsibility or liability for any false claims, errors or out of date information.</p>

  <div class="row">
  {% if back_to_directory_link %}
    <div class="col-sm-6">
      <div class="action-link-container">
        <span class="fa fa-chevron-left action-link--expand-icon"></span><a class="action-link" href="{{ back_to_directory_link }}">Back to search results</a>
      </div>
    </div>
  {% endif %}
  {% if content.field_service_hub|render %}
    <div class="col-sm-6">
      <div class="action-link-container directories-subhublink">  
	  {{content.field_service_hub|render}}<span class="fa fa-chevron-right action-link--forward-icon"></span>
      </div>
    </div>
  {% endif %}
  </div>
</article>
