{#
This file provides the HTML structure for baic pages.
#}

<main {{ content_attributes.addClass('col-md-8 order-1') }}>

  {% if guide_contents %}
    {{ guide_contents }}
  {% endif %}

  <h2>{{ node.label }}</h2>
  {{ content }}

  {% if previous_url or next_url %}
  <aside class="navigation-link-container clearfix">
    {% if previous_url %}<a href="{{ previous_url }}" class="cta-button cta-small cta-blue previous"><span>Previous</span></a>{% endif %}
    {% if next_url %}<a href="{{ next_url }}" class="cta-button cta-small cta-blue next"><span>Next</span></a>{% endif %}
  </aside>
  {% endif %}
</main>
