<section class="col-md-8 directory-listing-content">
  <div class="row directory-map-results">
    <div class="directories-results-header col-sm-6">
      {% if key %}
        <div>{{ count }} {{ result_plural }} for <span class="directories-results-search-term">{{ key }}</span></div>
      {% else %}
        <div>{{ count }} {{ result_plural }}</div>
      {% endif %}
      <div>
        <a class="hide-map"><span class="fas fa-eye-slash"></span>Hide map</a>
        <a class="show-map"><span class="fas fa-eye"></span>Show map</a>
      </div>
    </div>
    {#<form class="col-sm-6">#}
      {#<label for="directories-sort">Sort by:</label>#}
      {#<select id="directories-sort">#}
        {#<option value="distance">Distance</option>#}
      {#</select>#}
    {#</form>#}
  </div>

  <div class="directories-map">
    <div id="map-wrapper">
      {{ map }}
    </div>
  </div>

  <div class="search--heading">
    <h1>{{ search_title }}</h1>
    {% if no_of_results %}
      <p>{{ no_of_results }}</p>
    {% endif %}
  </div>

  {{ search_help }}

  {{ results }}

  {{ pager }}
</section>
