<main {{ content_attributes.addClass('content newsroom--search-results col-md-8 order-1') }}>

  <h2>Search results</h2>

  {% if key %}
    <p class="newsroom--search-results_stat">{{ count }} {{ result_plural }} found about <a href="#">{{ key }}</a></p>
  {% else %}
    <p class="newsroom--search-results_stat">{{ count }} {{ result_plural }}</p>
  {% endif %}

  {% if count > 0 %}
    {{ results }}
  {% else %}
    {{ no_results }}
  {% endif %}
</main>
